Source: deepin-editor
Section: editors
Priority: optional
Maintainer: Ananta Mishra <mishraananta2017@gmail.com>
XSBC-Original-Maintainer: Debian Deepin Packaging Team <pkg-deepin-devel@lists.alioth.debian.org>
Uploaders: Ma Aiguo <imaiguo@gmail.com>,
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 libdframeworkdbus-dev,
 libdtkcore-dev (>= 5.5~),
 libdtkwidget-dev (>= 5.5~),
 libenca-dev (>= 1.19),
 libgmock-dev,
 libgtest-dev,
 libkf5codecs-dev,
 libkf5syntaxhighlighting-dev,
 libpolkit-qt5-1-dev,
 libqt5svg5-dev,
 libuchardet-dev(>= 0.0.6),
 pkg-config,
 qtbase5-private-dev,
 qttools5-dev-tools,
Rules-Requires-Root: no
Standards-Version: 4.5.1
Homepage: https://github.com/linuxdeepin/deepin-editor

Package: deepin-editor
Architecture: any
Depends:
 dde-qt5integration,
 ${shlibs:Depends},
 ${misc:Depends},
 libdtkwidget5 (>= 5.4.11),
 libenca0 (>= 1.19)
Description: Text editor for DDE (Deepin Desktop Environment)
 Advanced text editor based on dtk.
 .
 This package is part of DDE (Deepin Desktop Environment).
